{
  "extends": "eslint:recommended",
  "ecmaFeatures": {
    "jsx": true,
    "modules": true,
    "blockBindings": true
  },
  "env": {
    "browser": true,
    "node": true
  },
  "rules": {
    "no-unused-vars": 0
  }
}